<footer class="min-h-[300px] bg-primary-500 flex flex-col text-white relative mt-[300px]">
  <div class="footer-border"></div>
  <div class="absolute -top-[182px] left-1/2 -translate-x-1/2 w-full">
    <img src="assets/chiguiros-1.png" alt="Company Logo" class="h-56 w-full object-contain" />
  </div>

  <div class="py-10 flex flex-col sm:flex-row justify-center items-center gap-8">
    <div class="size-11">
      <custom-icon icon="x" />
    </div>
    <div class="size-12">
      <a href="">
        <custom-icon icon="linkedin" />
      </a>
    </div>
    <img src="assets/logo-wheel-white.png" alt="Company Logo" class="h-32 object-contain" />
    <div class="size-12">
      <a href="https://www.facebook.com/profile.php?id=61573790152627" target="_blank">
        <custom-icon icon="facebook" />
      </a>
    </div>
    <div class="size-12">
      <a href="https://www.instagram.com/chiguirotec/" target="_blank"
        ><custom-icon icon="instagram"
      /></a>
    </div>
  </div>

  <div
    class="flex flex-col md:flex-row justify-center md:justify-around items-center md:items-start gap-10 text-center md:text-start"
  >
    <ul class="flex flex-col w-2/3 md:w-fit gap-2 text font-light">
      <li class="font-semibold pb-2 border-b-2 border-white">Sobre Chiguiro</li>
      <li>Sobre nosotros</li>
      <li>Que es un "Chiguiro"</li>
      <li>Política de Privacidad</li>
      <li>Términos y Condiciones</li>
    </ul>
    <ul class="flex flex-col w-2/3 md:w-fit gap-2 text font-light">
      <li class="font-semibold pb-2 border-b-2 border-white">Servicios</li>
      <li>Desarrollo web</li>
      <li>Desarrollo móvil</li>
      <li>Nuestros proyectos</li>
    </ul>
    <ul class="flex flex-col w-2/3 md:w-fit gap-2 text font-light">
      <li class="font-semibold pb-2 border-b-2 border-white">Contacto</li>
      <li><a href="mailto:contacto@chiguirotec.com">contacto@chiguirotec.com</a></li>
    </ul>
  </div>

  <div class="py-4 flex justify-center text-sm">
    <span>© 2026 Chiguiro Tec. Todos los derechos reservados</span>
  </div>
</footer>
