<nav class="flex h-16 items-center justify-between px-4 max-w-[1200px] mx-auto mt-2">
  <div class="flex items-center gap-4">
    <img src="assets/logo-min.svg" alt="Company Logo" class="h-10 object-contain" />
    <h2 class="uppercase font-bold text-primary-500">
      Chiguiro <span class="text-text-primary">Tec</span>
    </h2>
  </div>
  <ul class="flex gap-4 items-center">
    <li class="uppercase font-bold">Inicio</li>
    <li class="uppercase font-bold">Servicios</li>
    <li class="uppercase font-bold">Portafolio</li>
    <li class="bg-primary-500 text-white font-bold px-4 py-1 rounded-xl uppercase">Contacto</li>
  </ul>
</nav>
